---

---

<section>
  <h2 class="section-title">Certifications</h2>
  <div class="content">
    <ul>
      <li>
        <a
          href="https://cert.efset.org/hMHpjX"
          target="_blank"
          rel="noopener noreferrer"
          >EF SET English C2 level</a
        > certificate
      </li>
      <li>
        <a
          href="/certificates/dmytro_lysachenko_fullstack_cert.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >Bootcamp Fullstack Developer</a
        > course completion certificate
      </li>
      <li>
        <a
          href="/certificates/course-era-gen-ai.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >IBM Generative AI for Software Developers</a
        > career certificate includes: <ul>
          <li>
            <a
              href="/certificates/coursera-ai-introduction.pdf"
              target="_blank"
              rel="noopener noreferrer"
              >Generative AI: Introduction and Applications</a
            >
          </li>
          <li>
            <a
              href="/certificates/coursera-prompt-eng-basic.pdf"
              target="_blank"
              rel="noopener noreferrer"
              >Generative AI: Prompt Engineering Basics</a
            >
          </li>
          <li>
            <a
              href="/certificates/coursera-elevate-software-dev.pdf"
              target="_blank"
              rel="noopener noreferrer"
              >Generative AI: Elevate your Software Development Career</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
