---
import { certificates } from "../../data/certificates";
import Icon from "../Icon.astro";
---

<section>
  <h2 class="section-title">Certifications</h2>
  <div class="content">
    <ul>
      {
        certificates.map((item) => (
          <li>
            {item.name}
            <a
              href={item.link}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Icon icon="link" />
            </a>
            {item.children?.length ? (
              <ul>
                {item.children.map((item) => (
                  <li>
                    {item.name}
                    <a
                      href={item.link}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <Icon icon="link" />
                    </a>
                  </li>
                ))}
              </ul>
            ) : null}
          </li>
        ))
      }
    </ul>
  </div>
</section>
