---

---

<section>
  <h2 class="section-title">Education</h2>

  <div class="content list">
    <div class="sub-list">
      <h3 class="subsection-title">
        <a
          href="https://presonal-aws-bucket.s3.eu-north-1.amazonaws.com/fullstack-dev-cert.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          Full-Stack Developer | 2023 - 2024
        </a>
      </h3>

      <p>
        Completed an intensive Full-Stack Development program at{" "}
        <a
          href="https://goit.global/"
          target="_blank"
          rel="noopener noreferrer"
        >
          IT School GoIT
        </a>
        , covering front-end and back-end technologies.
      </p>
    </div>

    <div class="sub-list">
      <h3 class="subsection-title">
        Master's in Navigation of Seagoing Ships | 2015 - 2021
      </h3>

      <p>
        Graduated from{" "}
        <a
          href="https://odesa.edu.ua/"
          target="_blank"
        >
          National University ‘Odesa Maritime Academy’
        </a>
        , specializing in navigation and vessel operations.
      </p>
    </div>
  </div>
</section>
