---

---

<section>
  <h2 class="section-title">Technical Skills</h2>
  <div class="content list">
    <div>
      <h3 class="subsection-title">Front-End Development</h3>
      <ul>
        <li>TypeScript, JavaScript (ES6+)</li>
        <li>React.js, Next.js, Astro</li>
        <li>Redux Toolkit (RTK), Tanstack Query</li>
        <li>CSS Modules, Tailwind CSS, Chakra UI, Shadcn/UI</li>
      </ul>
    </div>
    <div>
      <h3 class="subsection-title">Back-End Development</h3>
      <ul>
        <li>Node.js, Express.js</li>
        <li>MongoDB, PostgreSQL, SQLite, Drizzle ORM, Prisma ORM</li>
        <li>REST APIs</li>
        <li>Authentication: JWT, OAuth</li>
      </ul>
    </div>
  </div>
</section>

<section>
  <h2 class="section-title">Soft Skills</h2>
  <div class="content">
    <ul>
      <li>Problem-Solving & Critical Thinking</li>
      <li>Team Collaboration & Agile Methodologies</li>
      <li>Flexibility & Adaptability</li>
      <li>Time Management & Self-Motivation</li>
    </ul>
  </div>
</section>

<section>
  <h2 class="section-title">Languages</h2>
  <div class="content">
    <ul>
      <li>
        <a
          href="https://cert.efset.org/hMHpjX"
          target="_blank"
          rel="noopener noreferrer"
          >English - Proficient</a
        >
      </li>
      <li>Polish - Upper Intermediate</li>
      <li>Ukrainian - Native</li>
      <li>Russian - Proficient</li>
    </ul>
  </div>
</section>
