---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Dmytro Lysachenko | About"
  description="Page where you can find out more about my professional background and journey into software development."
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself, my background, and my journey into software development."
      />

      <section>
        <h2 class="section-title">Background</h2>

        <div class="content list">
          <div class="sub-list">
            <p>
              My professional journey began in the maritime industry, where I
              developed a strong foundation in discipline, responsibility, and
              structured problem-solving. I earned a Master’s degree in
              Navigation of Seagoing Ships from National University ‘Odesa
              Maritime Academy’ (2015–2021), specializing in vessel operations,
              logistics, and safety management.
            </p>

            <p>
              While pursuing my degree, I started working as a Deck Cadet aboard
              container ships, gaining early exposure to high-responsibility
              environments. After graduation, I advanced to Third Officer,
              serving for five years. In this role, I was responsible for
              navigation watchkeeping, cargo operations, vessel safety, and
              compliance with international maritime regulations. Working in
              mixed international crews throughout my maritime career
              significantly improved my English communication skills and
              adaptability in multicultural environments. These experiences
              helped shape my analytical thinking, time management, and
              structured approach to problem-solving—skills that seamlessly
              translate into the world of software development.
            </p>
          </div>
          <div class="sub-list">
            <h3 class="subsection-title">Transition to Software Development</h3>

            <p>
              Despite my successful maritime career, I developed a strong
              interest in technology and software engineering. Determined to
              shift into a field where I could build and create, I enrolled in
              the GOIT Full-Stack Development program, where I learned
              JavaScript, TypeScript, React.js, and Node.js. However, my
              learning extended far beyond the structured curriculum. While the
              course provided a solid foundation, I took it upon myself to
              independently explore and master additional technologies,
              including Next.js, Astro, React Native, Expo, and modern frontend
              frameworks.
            </p>

            <p>
              Shortly after completing my training, I joined StarNavi as a
              Junior React Developer (Aug 2024 – Dec 2024). I worked on a SaaS
              web application, contributing to the development of scalable and
              efficient user interfaces using TypeScript, Next.js, Astro, Chakra
              UI, and TanStack Query.
            </p>

            <p>
              While I gained valuable hands-on experience in a professional
              setting, I ultimately decided to resign to expand my expertise
              further and focus on building projects that showcase my full
              capabilities as a developer.
            </p>
          </div>

          <div class="sub-list">
            <h3 class="subsection-title">
              Continuous Learning & Technical Growth
            </h3>

            <p>
              Since resigning from StarNavi, I have been fully committed to
              improving my coding skills, dedicating time every single day to
              writing code, exploring new technologies, and refining best
              practices—a commitment visibly reflected in my GitHub activity. My
              personal projects serve as proof of my self-motivation and ability
              to learn independently, as I actively incorporate new concepts,
              improve code scalability, and adopt best engineering practices.
            </p>

            <p>
              Beyond technical skills, I am also focused on adapting to the
              European job market by actively learning Polish and continuously
              improving my English proficiency. I have obtained a <a
                href="https://cert.efset.org/hMHpjX"
                target="_blank"
                rel="noopener noreferrer"
                >C2-level EF SET certificate</a
              >, which is linked on my LinkedIn profile, further demonstrating
              my commitment to effective communication in international teams.
            </p>
          </div>

          <div class="sub-list">
            <h3 class="subsection-title">Looking Ahead</h3>

            <p>
              With a strong foundation in frontend and full-stack development, a
              proven ability to learn independently, and a structured,
              disciplined approach to problem-solving, I am eager to contribute
              to innovative projects. I thrive in team environments, enjoy
              tackling complex challenges, and am always pushing myself to grow
              as a developer.
            </p>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">Work Experience</h2>

        <div class="content list">
          <div class="sub-list">
            <h3 class="subsection-title">
              Junior Front-End Developer | Aug 2024 - Nov 2024 | StarNavi
            </h3>

            <p>
              Worked as a React Developer, contributing to front-end
              architecture for scalable applications. My responsibilities
              included:
            </p>

            <ul>
              <li>
                Developing UI components and pages using TypeScript, React.js,
                Next.js and Astro.
              </li>

              <li>
                Implementing state management and handling API integration with
                RESTful services using Tanstack Query.
              </li>

              <li>
                Participating in Agile development, collaborating with
                cross-functional teams.
              </li>
            </ul>

            <p>Achievements:</p>
            <ul>
              <li>
                Developed SEO-optimized public pages using Next.js and Astro,
                implementing server-side rendering, dynamic metadata generation,
                and structured data markup to maximize search engine visibility.
              </li>
              <li>
                Created a standalone project boilerplate by abstracting and
                modularizing core logic from the main SaaS codebase, enabling
                faster onboarding and development of new features with shared
                architecture.
              </li>
              <li>
                Built a dashboard widget displaying dynamic user-specific data,
                tightly integrated with TanStack Query for state
                synchronization, caching, and real-time data mutation.
              </li>
            </ul>
          </div>

          <div class="sub-list">
            <h3 class="subsection-title">
              Third Officer | 2022 - 2024 | CMA CGM, France
            </h3>

            <p>
              Prior to software development, I worked as a Third Officer in the
              merchant marine industry, responsible for navigational operations,
              emergency response planning, and cargo management. Key
              achievements include:
            </p>

            <ul>
              <li>
                Automating bureaucratic processes onboard, improving efficiency
                in documentation.
              </li>

              <li>
                Creating a Tactical Fire-Fighting Plan, enhancing emergency
                response readiness.
              </li>
            </ul>

            <p>Achievement:</p>
            <ul>
              <li>
                Led improvements to onboard workflows, applying structured
                thinking relevant to interface logic and backend processes
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">Education</h2>

        <div class="content list">
          <div class="sub-list">
            <h3 class="subsection-title">
              <a
                href="https://presonal-aws-bucket.s3.eu-north-1.amazonaws.com/fullstack-dev-cert.pdf"
                target="_blank"
                rel="noopener noreferrer"
                >Full-Stack Developer | 2023 - 2024</a
              >
            </h3>

            <p>
              Completed an intensive Full-Stack Development program at <a
                href="https://goit.global/"
                target="_blank"
                rel="noopener noreferrer"
                >IT School GoIT</a
              >, covering front-end and back-end technologies.
            </p>
          </div>

          <div class="sub-list">
            <h3 class="subsection-title">
              Master's in Navigation of Seagoing Ships | 2015 - 2021
            </h3>

            <p>
              Graduated from <a
                href="https://odesa.edu.ua/"
                target="_blank"
                >National University ‘Odesa Maritime Academy’</a
              >, specializing in navigation and vessel operations.
            </p>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">Technical Skills</h2>
        <div class="content list">
          <div>
            <h3 class="subsection-title">Front-End Development</h3>
            <ul>
              <li>TypeScript, JavaScript (ES6+)</li>
              <li>React.js, Next.js, Astro</li>
              <li>Redux Toolkit (RTK), Tanstack Query</li>
              <li>CSS Modules, Tailwind CSS, Chakra UI, Shadcn/UI</li>
            </ul>
          </div>
          <div>
            <h3 class="subsection-title">Back-End Development</h3>
            <ul>
              <li>Node.js, Express.js</li>
              <li>MongoDB, PostgreSQL, SQLite, Drizzle ORM, Prisma ORM</li>
              <li>REST APIs</li>
              <li>Authentication: JWT, OAuth</li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">Soft Skills</h2>
        <div class="content">
          <ul>
            <li>Problem-Solving & Critical Thinking</li>
            <li>Team Collaboration & Agile Methodologies</li>
            <li>Flexibility & Adaptability</li>
            <li>Time Management & Self-Motivation</li>
          </ul>
        </div>
      </section>

      <section>
        <h2 class="section-title">Languages</h2>
        <div class="content">
          <ul>
            <li>
              <a
                href="https://cert.efset.org/hMHpjX"
                target="_blank"
                rel="noopener noreferrer"
                >English - Proficient</a
              >
            </li>
            <li>Polish - Upper Intermediate</li>
            <li>Ukrainian - Native</li>
            <li>Russian - Native</li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .sub-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .subsection-title {
    font-size: var(--text-lg);
    margin-bottom: 10rem 0;
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
